.content{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 40px;
}
body{
    background-image: url(https://free4kwallpapers.com/uploads/originals/2020/11/15/sunset-vector-wallpaper.jpg);
}
td{
    color: white;
}
h1{
    color: whitesmoke;
}
input{
    height: 30px;
}
textarea{
    font-size: medium;
    height: 60px;
}
select{
    height: 30px;
    font-size: medium;
}
option{
    font-size: medium;
}